*{
    margin: 0;
    padding: 0;

}

.container{
    height: 325vh;
    width: 99vw;
    background-color: rgb(255, 255, 255);


}

.header{
    height: 10vh;
    width: 99vw;
    background-color: rgb(0, 101, 157);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    z-index: 1000;
}

.header span img{
    height: 5vh;
    margin-right: 0.5vw;
}

header span .logoname{
    font-family: "Whisper", cursive;

}

.header span{
    height: 10vh;
    width: 99vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header span a{
    text-decoration: none;
    color: white;




}

.header .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Poppin", sans-serif;
    height: 3vw;
    width: 10vw;
    margin: 0.5vw;
    margin-right: 2vw;
    margin-left: 9vw;
    border-radius: 10vw;
    padding-left: 0.4vw;
    padding-right: 0.4vw;


}

.header .logo:hover{
    border: 0.1px white solid;
}

.header .span1 h4{
    color: white;
    font-family: "Poppin", sans-serif;

}


.header span .logininfo{
    height: 10vh;
    width: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 7vw;
    padding: 2vw;
    font-family: "Poppin", sans-serif;

}


.header span .logininfo .register{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10vw;
    padding-left: 0.4vw;
    padding-right: 0.4vw;

    background-color: #ed820e;

    height: 3vw;
    width: 7vw;
    margin: 0.5vw;
}

.header span .logininfo .register:hover{
    color: white;
    background-color: #ea820e;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.header span .logininfo .login:hover{
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}


.header span .logininfo .login{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10vw;
    padding-left: 0.4vw;
    padding-right: 0.4vw;


    border: white 0.1px solid;

    height: 3vw;
    width: 7vw;
    margin: 0.5vw;
}

/* .header .selecter {
    height: 4vh;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    font-family: "Poppin", sans-serif;
    
    
}
.header .selecter {
    height: 4vh;
    width: 20vw;
    margin-left: 9vw;

}
.header .selecter a{
    margin: 1vw;
    text-decoration: none;
    color: white;
    margin-top: -1vh;
} */




.container .spacerdiv{
    height: 10vh;
    width: 99vw;
    background-color: #747779;
}

.container .slider{
    height: 60vh;
    width: 99vw;
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(./img/pc_photos/pc.png)
    ;
    background-size: cover;
    
    font-family: "Poppin", sans-serif;
    color: white;
    padding-top: 3vh;
}

.container .slider h1{
    margin-left: 10vw;
    margin-right: 40vh;
    margin-bottom: 5vh;
    margin-top: 1vhc;
    font-size: 5vh;
}

.container .slider p{
    margin-left: 10vw;
    font-size: 2vh;
    margin-right: 65vw;
}

.container .box1{

    padding-top: 3vh;
    background-color: #f7f7f7;
    padding-bottom: 5vh;

}

.container .box1 span{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}

.container .box1 h1{
    font-size: 6vh;
    margin-bottom: 2vh;
    margin-left: 10vw;
}

.container .box1 .type .name{

    margin-top: 3vh;

}

.container .box1 .type{
    height: 33vh;
    width: 17vw;
    background-color: coral;
    border-radius: 2.5vh;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    margin:0.5vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: #f7f7f7;
    text-decoration: none;

}

.container .box1 .type button{
    width: 7vw;
    height: 5vh;
    border-radius: 10vw;
    margin-bottom: 1.5vh;
    border: 0px;
}

.container .box1 #first{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/pc_photos/cpu.png)
    ;
    background-size: cover;
}

.container .box1 #second{
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),url(./img/pc_photos/cooler.jpeg);
    background-size: cover;
}

.container .box1 #third{

    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/pc_photos/hero.webp);
    background-size: cover;
}

.container .box1 #fourth{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url(./img/pc_photos/case.png);
    background-size: cover;
}
.container .box1 #fifth{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url(./img/pc_photos/video\ card.jpeg);
    background-size: cover;
 
}

.container .box1 a{
    text-decoration: none;
    text-align: center;
}

.container hr{
    margin: 5vh;
    margin-left: 10vw;
    height: 0.2vh;
    border-radius: 50vh;
    background-color: black;
}



.container .locations{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4vh;
    z-index: 999;
    margin-bottom: 5vh;

}

.container .locations #map{
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.container .locations .locationinfo{
    width: 40vw;
    margin-right: 10vw;
    font-size: 2vh;
}

.container .locations span{
    margin-left: 10vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .locations span .lselect{
    display: flex;
}

.container .locations #location-select{
    margin-left: 5px;
}

.container .locations .maps{
    
    margin-left: 10vw;
    margin-right: 4vw;
    border-radius: 2vh;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.container .pictures{
    height: 85vh;
    width: 99vw;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}

.container .pictures .content {
    height: 85vh;
    width: 79vw;
    margin-top: 5vh;

    display: flex;
    flex-direction: column;

}

.container .pictures .content span{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;

}

.container .pictures .content .pic1{
    width: 18vw;
    height: 36vh;
    background-image: url(https://m.media-amazon.com/images/I/71K4CkU04bL._AC_SX679_.jpg);
    background-size: cover;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.container .pictures .content .pic2{
    width: 18vw;
    height: 36vh;
    background-image: url(https://www.easypc.io/wp-content/uploads/2023/12/1.png);
    background-size: cover;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.container .pictures .content .pic3{
    width: 18vw;
    height: 36vh;
    background-image: url(https://ucarecdn.com/a096ad52-c971-4447-87c9-866eb47bffa9/FOCUSEXTREME.png);
    background-size: cover;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.container .pictures .content .pic4{
    width: 18vw;
    height: 36vh;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/715zrA5cmLL.jpg);
    background-size: cover;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.container .pictures .content .pic5{
    width: 18vw;
    height: 36vh;
    background-image: url(https://images-ext-1.discordapp.net/external/W_aID-L9gNobfPa4ZBiKKbkhnaQkw30Sz7BZo3KnWhk/https/static.wixstatic.com/media/125a99_fe165b9101e04e27a2650411bb98ccc0~mv2.png/v1/fill/w_740%2Ch_924%2Cal_c%2Cq_90%2Cusm_0.66_1.00_0.01%2Cenc_auto/Glacial%2520Spike%2520v1%2520Banner.png?format=webp&quality=lossless&width=480&height=600);
    background-size: cover;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);


}

.container .pictures .content .pic6{
    width: 18vw;
    height: 36vh;
    background-image: url(https://static.wixstatic.com/media/bfb6d4_7e999b721ef344a0b909203a3ac613c2~mv2.png/v1/fill/w_740,h_924,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Ice%20Lance%20v3%20banner.png);
    background-size: cover;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.container .pictures .content .pic7{
    width: 18vw;
    height: 36vh;
    background-image: url(https://static.wixstatic.com/media/125a99_bd46ef57313f43e181b684658934e958~mv2.png/v1/fill/w_738,h_924,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Frost%20Nova%20v4%20Banner.png);
    background-size: cover;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.container .pictures .content .pic8{
    width: 18vw;
    height: 36vh;
    background-image: url(https://5.imimg.com/data5/SELLER/Default/2022/7/BB/CY/TI/8612162/gaming-desktop-pc-customized-pc-500x500.png);
    background-size: cover;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.container .about {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.container .about img{
    height: 40vh;
    margin-left: 4vw;
    margin-right: 10vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 2vh;
}

.container .about span{
    margin-left: 10vw;

}

.container .about h2{
    font-weight: 900;
    margin-bottom: 30px;
}

.container .footer{
    height: 15vh;
    width: 99vw;
    background-color: rgb(0, 101, 157);
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppin", sans-serif;



}

.container .footer .logo{

    color: rgb(255, 255, 255);
    text-decoration: none;


}

.container .footer .logo img{
    height: 8vh;
}

.container .footer h3{
    color: white;
}

.container .footer .left{
    margin-left: 10vw;
}

.container .footer .right{
    margin-right: 10vw;
}

.container .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    

}