*{
    margin: 0;
    padding: 0;
    font-family: "poppin", sans-serif;
}

.container{
    height: 200vh;
    width: 99vw;
    background-color: bisque;
    overflow: hidden;

}

.header{
    height: 14vh;
    width: 99vw;
    background-color: transparent;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.header span{
    height: 10vh;
    width: 99vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header span a{
    text-decoration: none;
}

.header .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 3vw;
    width: 10vw;
    margin: 0.5vw;
    margin-right: 2vw;
    margin-left: 10vw;
    border-radius: 0.5vw;

}

.header span .logininfo{
    height: 10vh;
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10vw;
    padding: 2vw;
}

.header .selecter{
    height: 4vh;
    width: 99vw;

    display: flex;
    align-items: center;

    
}
.header .selecter a{
    margin: 1vw;
    text-decoration: none;
}

.header .selecter .left{
    margin-left: 10vw;
}


.container .spacerdiv{
    height: 14vh;
    width: 99vw;
    background-color: black;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.container .map1{
    margin-top: 5vh;
    height: 300px;
    width: 99vw;
    margin-left: 10vw;
    display: flex;
}

.container span{
    margin-left: 4vw;
    margin-right: 10vw;
}

.container .map1 .map{
    border-radius: 2vh;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}